<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="container">
        <div class="page-content">
            @*<div class="margin-bottom">
                <div class="flex">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-money-bill-trend-up"></i>
                            Stocks
                        </h1>
                    </div>
                    <div class="flex-1">
                        Login
                    </div>
                </div>
            </div>*@

            @RenderBody()
        </div>
    </div>
</body>
</html>
